.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}



#green {
    height: 60px;
    text-align: center;
    color: green;
    background-color:#D4EDDA;
}

#red {
    align-self: center;
    height: 60px;
    text-align: center;
    color: red;
    background-color: #F7D7DA;
}

.mb-3 {

    width: 50%;
    height:50%;
    text-align: left;
    
}

#form {
    display: flex;
    justify-content: center;
    width: 100%;
    height:100%;
}

#footer  {
    background-color: black;
    color: aliceblue;
    position: fixed;
    width: 100%;
    height: 3%;
    bottom: 0%;
}

#header {
    justify-content: space-evenly;
}

.space {
    margin-top: 20px;
}

 button {
    margin-top: 20px;
 }