.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}

#footer {
    text-align: left;
    text-align: start;
}

#green {
    text-align: center;
    text-align: justify;
    color: green;
}

#red {
    text-align: center;
    text-align: justify;
    color: red;
}

.mb-3 {
    width: 50%;
    height:50%;
    
}

#form {
    text-align: center;
    
}